default: &default
  pool: 5
  timeout: 5000

development:
  <<: *default
  adapter: sqlite3
  database: db/birthday_development.sqlite3

test:
  <<: *default
  adapter: sqlite3
  database: db/birthday_test.sqlite3

production:
  <<: *default
  adapter: postgresql
  host: localhost
  database: birthday_production
  username: postgres
  password: password
